<p>This is the starter example of a reactive component.</p>
<p>The code executed here is rendered using the mod_nosferatu/local/starter_example template.</p>
<p>To see how the code works go to the mod/nosferatu/amd/src/local/starter_example.js file.</p>
<p id="mod-nosferatu-main">
    {{> mod_nosferatu/local/starter_example }}
</p>
